{% extends 'base.html' %} {% block meta %}
<title>Edit NFT</title>
<link
	href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css"
	rel="stylesheet"
/>
{% endblock meta %} {% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
	<div class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
		<h1 class="text-2xl font-semibold text-center text-gray-700 mb-6">
			Edit NFT
		</h1>

		<form method="POST" enctype="multipart/form-data" class="space-y-6">
			{% csrf_token %}
			<div class="space-y-4">
				<!-- Nama NFT -->
				<div>
					<label
						for="{{ form.name.id_for_label }}"
						class="block text-gray-700"
						>Nama NFT</label
					>
					{{ form.name }} {% if form.name.errors %}
					<p class="text-red-500 text-sm mt-1">
						{{ form.name.errors }}
					</p>
					{% endif %}
				</div>

				<!-- Harga NFT -->
				<div>
					<label
						for="{{ form.price.id_for_label }}"
						class="block text-gray-700"
						>Harga (ETH)</label
					>
					{{ form.price }} {% if form.price.errors %}
					<p class="text-red-500 text-sm mt-1">
						{{ form.price.errors }}
					</p>
					{% endif %}
				</div>

				<!-- Deskripsi NFT -->
				<div>
					<label
						for="{{ form.description.id_for_label }}"
						class="block text-gray-700"
						>Deskripsi</label
					>
					{{ form.description }} {% if form.description.errors %}
					<p class="text-red-500 text-sm mt-1">
						{{ form.description.errors }}
					</p>
					{% endif %}
				</div>

				<!-- Gambar NFT -->
				<div>
					<label
						for="{{ form.image.id_for_label }}"
						class="block text-gray-700"
						>Gambar</label
					>
					{{ form.image }} {% if form.image.errors %}
					<p class="text-red-500 text-sm mt-1">
						{{ form.image.errors }}
					</p>
					{% endif %} {% if nft.image %}
					<img
						src="{{ nft.image.url }}"
						alt="{{ nft.name }}"
						class="mt-2 h-32 w-32 object-contain"
					/>
					{% endif %}
				</div>

				<!-- Creator NFT -->
				<div>
					<label
						for="{{ form.creator.id_for_label }}"
						class="block text-gray-700"
						>Creator</label
					>
					{{ form.creator }} {% if form.creator.errors %}
					<p class="text-red-500 text-sm mt-1">
						{{ form.creator.errors }}
					</p>
					{% endif %}
				</div>
			</div>

			<div class="flex items-center justify-between">
				<button
					type="submit"
					class="w-full bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition duration-200"
				>
					Perbarui NFT
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}
